$theme-colors: (
  "light": #f6eeff,
  "dark": #370748,
  "primary": #b00b69,
  "secondary": #f52b2b,
  "tertiary": #2597ee,
  "info": #f37e10,
  "success": #07ab77,
  "warning": #d6d206,
  "danger": #e44102
);
$light: #f6eeff;
$dark: #370748;
$primary: #b00b69;
$secondary: #f52b2b;
$tertiary: #2597ee;
$info: #f37e10;
$success: #07ab77;
$warning: #d6d206;
$danger: #e44102;