// 1. Import Bootstrap functions and variables
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";



// 2. Define Custom Colors
$white: #ffffff;

$theme-colors: (
    "light":      #f6eeff,
    "dark":       #370748,
    "primary":    #b00b69,
    "secondary":  #f52b2b,
    "info":       #f37e10,
    "success":    #07ab77,
    "warning":    #d6d206,
    "danger":     #e44102,
);

// 3. Override Bootstrap Variables
$body-bg: map-get($theme-colors, "light");
$body-color: map-get($theme-colors, "dark");

$font-family-base: 'Roboto', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;
$border-radius: 0.5rem;  // Adjust global border radius



$link-color: map-get($theme-colors, "primary");
$link-hover-color: darken($link-color, 10%);

// Pagination
$pagination-color: var(--bs-primary);
$pagination-hover-color: var(--bs-light);
$pagination-active-bg: var(--bs-primary);
$pagination-active-border-color: var(--bs-primary);

$component-active-color: var(--bs-light);
$component-active-bg: var(--bs-primary);
$dropdown-link-active-bg: var(--bs-primary);

// 4. Import Bootstrap Core SCSS
@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/maps";


// 5. Custom Styles
body {
  background-color: $body-bg;
  color: $body-color;
}

.btn-custom {
  background-color: map-get($theme-colors, "primary");
  color: $white;
  border-radius: $border-radius;
  &:hover {
    background-color: darken(map-get($theme-colors, "primary"), 10%);
  }
}

// Optional: Customize Navbar
.navbar {
  background-color: map-get($theme-colors, "dark");
  .nav-link {
    color: $white;
    &:hover {
      color: lighten($white, 20%);
    }
  }
}



// Import Bootstrap


// 
@import url('bootstrap');
@import url('datatables.net-bs5');
@import url('datatables.net-buttons-bs5');
@import url('datatables.net-fixedheader-bs5');
@import url('datatables.net-keytable-bs5');
@import url('datatables.net-responsive-bs5');
@import url('datatables.net-rowgroup-bs5');
@import url('datatables.net-rowreorder-bs5');
@import url('datatables.net-scroller-bs5');
@import url('datatables.net-searchbuilder-bs5');
@import url('datatables.net-searchpanes-bs5');
@import url('datatables.net-select-bs5');
@import url('datatables.net-staterestore-bs5');

// @import 'datatables/dataTables.bootstrap5.scss';