// Step 1: Import Bootstrap's variables
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

// Step 2: Override theme colors
$white: #ffffff;

$theme-colors: (
    "light":      #f6eeff,
    "dark":       #370748,
    "primary":    #b00b69,
    "secondary":  #f52b2b,
    "info":       #f37e10,
    "success":    #07ab77,
    "warning":    #d6d206,
    "danger":     #e44102,
);


// Step 3: Import rest of Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Step 4: Add any custom styles (optional)