// Dark Theme Colors
[data-theme='dark'] {
  --t-light: #2d2d2d;
  --t-dark: #e0e0e0;
  --t-primary: #d63384;
  --t-secondary: #fd7e14;
  --t-info: #0dcaf0;
  --t-success: #198754;
  --t-warning: #ffc107;
  --t-danger: #dc3545;

  --t-body-bg: #1a1a1a;
  --t-body-color: var(--t-dark);

  --t-border-color: #495057;
  --t-input-bg: #2d2d2d;
  --t-input-border-color: #495057;
  --t-input-color: var(--t-dark);

  --t-link-color: var(--t-dark);
  --t-link-hover-color: #f0f0f0;
}
